---
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    <a class="skip-link" href="#main">Skip to main content</a>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <main id="main" tabindex="-1">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </main>

    <footer class="site-footer"><p>Qiming Li · 李启明 &nbsp; / &nbsp; <a href="https://github.com/RayeRen/acad-homepage.github.io">AcadHomepage</a></p></footer>

    {% include scripts.html %}

  </body>
</html>
